
$green-color: rgba(0, 128, 43, 0.774);
$blue-color: rgba(0, 68, 255, 0.774);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    button {
        &:hover {
            cursor: pointer;
        }
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;

        h1 {
            font-size: 5rem;
            font-weight: normal;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;

        #input-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.8rem;

            h2 {
                font-size: 2rem;
                color: $green-color;
            }

            .input-container {
                width: 100%;
                display: flex;
                gap: 0.5rem;

                label {
                    font-size: 1.7rem;
                }

                textarea {
                    width: 100%;
                }
            }

            #submit-btn {
                font-size: 1.7rem;
                padding: 0.5rem 1.5rem;
                background-color: $green-color;
                color: white;
                border: none;
                border-radius: 0.5rem;
            }
        }

        #display-section {
            margin: 1rem 0;

            display: flex;
            flex-wrap: wrap;
            
            .note {
                flex-basis: 50%;
                border: 1px solid rgb(224, 224, 224);
                border-radius: 0.5rem;
                padding: 1rem;
                
                // display: flex;
                // flex-direction: column;
                // align-content: flex-start;
                // gap: 1rem;
                
                > * {
                    margin: 1rem 0;
                }
                
                h3 {
                    font-size: 1.5rem;
                    font-weight: normal;
                }
                
                p {
                    font-size: 1.2rem;
                    max-height: 2.4rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                button {
                    font-size: 1.3rem;
                    padding: 0.5rem 1rem;
                    background-color: $blue-color;
                    color: white;
                    border: none;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.831);
        z-index: 10;
        display: grid;
        place-content: center;
        

        .popup {
            max-width: 65vw;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            p {
                margin: 2rem;
                font-size: 2.5rem;
            }

            .close-btn {
                color: grey;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}